.cards {
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-text {
  position: absolute;
  top:20px;
  left: 20px;
  color: white;
}

div.card {
  border: 0px;  
  margin: 15px 20px;
}

.card img {
  width: 200px;
  height: auto;
  border-radius: .25rem;
}

.cozy {

}

.studio {

}

.cool {


}
